# Visual Studio
.vs/

# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Deployment / temporary files
*_deploy_temp_*/

# OpenCV native binaries
OpenCvSharpExtern.dll